{{#each movies as |movie|}}

      <div class="list col-xs-12">
        <h5 data-id="{{movie.id}}"><span="genre">Genre:</span>{{movie.title}} </h5>
          <div id="remove-{{id}}" class="remove-button">X</div>
          <div id="show-{{id}}" class="show-button">O</div>
        <!-- <hr class="">
        <p class="notes"> {{movie.notes}} </p> -->
        <button id={{id}} class="btn"> Remove </button>
      </div>

{{/each}}
