{{#each movies as |movie|}}

      <div class="list col-xs-12 {{movie.genres}}">
          {{#if movie.watched}}
          <div class="movie">
            <h5 data-id="{{movie.id}}" class="watched"><span class="movie-genre">{{movie.genres}}:</span> <span class="movie-genre">{{movie.title}}</span></h5>
            <hr class="notes hide">
            <p class="notes hide"> Notes: {{movie.notes}} </p>
          </div>
          <form id="{{id}}" class="hide addNotesForm">
            <input name="movie[notes]" class="form-inline notes-form-input" type="text" placeholder="Notes">
            <button type="submit" class="btn btn-default notes-form-element handle-btn">Add Notes</button>
          </form>
          <div id="{{id}}" class="remove-button">X</div>
          <div id="{{id}}" class="watched check-button">O</div>
          {{else}}
          <div class="movie">
            <h5 data-id="{{movie.id}}" class=""><span class="movie-genre">{{movie.genres}}</span>: <span class="movie-title">{{movie.title}}</span></h5>
            <hr class="notes hide">
            <p class="notes hide">Notes: {{movie.notes}} </p>
          </div>
          <form id="{{id}}" class="hide addNotesForm">
            <input name="movie[notes]" class="form-inline notes-form-input" type="text" placeholder="Notes">
            <button class="btn btn-default notes-form-element handle-btn">Add Notes</button>
          </form>
          <div id="{{id}}" class="remove-button">X</div>
          <div id="{{id}}" class="check-button">O</div>
          {{/if}}
      </div>

{{/each}}
