{{#each lists as |list|}}

  <h2 data-id="{{list.id}}"> Title: {{list.title}}</h2>
  <ul>
  <li class="list-{{list.id}}">
    {{#if list.description}}
      {{list.description}}
    {{else}}
      No description.
    {{/if}}
  </li>
  <li class="book-info"><button class="hide-button">Remove</button></li>
</ul>

{{/each}}
